@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box
}
.universe{
    font-family: "Tahoma", sans-serif;
    background: #1a1a1a;
    perspective: 220px;
    overflow: hidden;
}
.legend {
    font-size: 30px;
    color:#FFC10A;
    font-weight: 700;
    width: 640px;
    margin: 0 auto;
    transform: rotateX(25deg);
    animation-name: crawling-text;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.legend-caption {
    display: block;
    width: 100%;
    text-align: center;
}
@keyframes crawling-text {
    0%   { transform: scale(1) rotateX(25deg) translateY(460px);}
    100% { transform: scale(0.5) rotateX(25deg) translateY(-800px);}
}